*.iml
.gradle
/local.properties
**/build/
.idea/
.vscode/
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
dist/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
